@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Prezenty </h2>
<ol class="list-group">
        @foreach (var c in Model.Gifts)
        {
            <li class="list-group-item">@c</li>
        }
    </ol>