@page
@model MyApp.Namespace.Page2Model
@{
}
<a href="file:///C:/Users/kapig/OneDrive/Desktop/SQL/aplikacje/04.12.2023(kalendarz)/index.html">
    <img src="/images/tree.jpg" class="img" alt="Choinka" />
</a>
