@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Prezenty </h2>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dla kogo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gift in Model.Gifts)
        {
            <tr>
                <td>@gift.Name</td>
                <td>@gift.Prize zł</td>
                <td>@gift.ForWho</td>
            </tr>
        }
    </tbody>
</table>
<br/>
@* <img src="~/photos/tree.png" alt="christmas tree"> *@