@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Strona 2</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sint nesciunt magni! Enim tempora in accusamus quae quas, porro sed? Molestiae aut explicabo fugit corrupti rem repellat facilis quae fuga?</p>